.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container button{
    margin: 2rem;
}



